{% extends 'base.html'%}
{% block title %} cadastrar Usuários {% endblock title %}
{%block conteudo%}
    <h1>Cadastro de Usuarios</h1>
    <ul>
        {% for pessoa in pessoas%}
        <li>
            {{pessoa.id}}- 
            {{pessoa.nome}} <a class="btn btn-success" href="{% url 'editar' pessoa.id %}">Editar </a>   -   <a class="btn btn-danger" href="{% url 'delete' pessoa.id %}">deletar </a>
        </li>
{%endfor%}
    </ul>

    <form action="{% url 'login' %}" method="post">
{%csrf_token%}
        <Label>Username</Label><br><br>

<input type="text" name="username"  placeholder="Digite a username "id="username">

<Label>Senha</Label><br><br>

<input type="password" name="password" placeholder="Digite a senha"id="password">



<button type="submit">Log in</button>
    </form>
    
    {%endblock %}